@import "utils";
@import "fonts";
@import "typography";

.app {
  padding: 50px;

  &__canvas {
    display: block;
    border: 1px solid red;
    margin-bottom: 20px;
  }

  &__button {
    border: 1px solid red;
    color: red;
    background-color: white;
  }
}
